<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.hust.mapper.HourPVMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.hust.domain.HourPV" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="year" property="year" jdbcType="VARCHAR" />
    <result column="month" property="month" jdbcType="VARCHAR" />
    <result column="day" property="day" jdbcType="VARCHAR" />
    <result column="hour" property="hour" jdbcType="VARCHAR" />
    <result column="pvs" property="pvs" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, year, month, day, hour, pvs
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dw_pvs_hour
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dw_pvs_hour
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.hust.domain.HourPV" >
    insert into dw_pvs_hour (id, year, month, 
      day, hour, pvs)
    values (#{id,jdbcType=INTEGER}, #{year,jdbcType=VARCHAR}, #{month,jdbcType=VARCHAR}, 
      #{day,jdbcType=VARCHAR}, #{hour,jdbcType=VARCHAR}, #{pvs,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.hust.domain.HourPV" >
    insert into dw_pvs_hour
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="month != null" >
        month,
      </if>
      <if test="day != null" >
        day,
      </if>
      <if test="hour != null" >
        hour,
      </if>
      <if test="pvs != null" >
        pvs,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="year != null" >
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="month != null" >
        #{month,jdbcType=VARCHAR},
      </if>
      <if test="day != null" >
        #{day,jdbcType=VARCHAR},
      </if>
      <if test="hour != null" >
        #{hour,jdbcType=VARCHAR},
      </if>
      <if test="pvs != null" >
        #{pvs,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.hust.domain.HourPV" >
    update dw_pvs_hour
    <set >
      <if test="year != null" >
        year = #{year,jdbcType=VARCHAR},
      </if>
      <if test="month != null" >
        month = #{month,jdbcType=VARCHAR},
      </if>
      <if test="day != null" >
        day = #{day,jdbcType=VARCHAR},
      </if>
      <if test="hour != null" >
        hour = #{hour,jdbcType=VARCHAR},
      </if>
      <if test="pvs != null" >
        pvs = #{pvs,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.hust.domain.HourPV" >
    update dw_pvs_hour
    set year = #{year,jdbcType=VARCHAR},
      month = #{month,jdbcType=VARCHAR},
      day = #{day,jdbcType=VARCHAR},
      hour = #{hour,jdbcType=VARCHAR},
      pvs = #{pvs,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectList" resultMap="BaseResultMap">
    select *from dw_pvs_hour where DAY ="04"
  </select>
</mapper>