<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring/applicationContext*.xml</param-value>
  </context-param>
  <!-- 过滤通过用于处理项目中的乱码问题，该过滤器位于org.springframework.web.filter包中，指向类CharacterEncodingFilter -->
  <filter>
    <filter-name>encodingFilter</filter-name>
    <description>字符集过滤器</description>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
      <description>字符集编码</description>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!--
          自动装配ApplicationContext的配置信息。
          因为它实现了ServletContextListener这个接口，在web.xml配置这个监听器，启动容器时，就会默认执行它实现的方法。
   -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!--
         servlet标准不允许在web容器内自行做线程管理
           主要负责处理由　JavaBeans Introspector的使用而引起的缓冲泄露。清除Introspector的唯一方式是刷新整个缓冲
   -->
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  <!--
    DispatcherServlet是前端控制器设计模式的实现，提供Spring Web MVC的集中访问点，而且负责职责的分派，
            而且与Spring IoC容器无缝集成，从而可以获得Spring的所有好处。

    DispatcherServlet主要用作职责调度工作，本身主要用于控制流程，主要职责如下：
    1、文件上传解析，如果请求类型是multipart将通过MultipartResolver进行文件上传解析；
    2、通过HandlerMapping，将请求映射到处理器（返回一个HandlerExecutionChain，它包括一个处理器、多个HandlerInterceptor拦截器）；
    3、通过HandlerAdapter支持多种类型的处理器(HandlerExecutionChain中的处理器)；
    4、通过ViewResolver解析逻辑视图名到具体视图实现；
    5、本地化解析；
    6、渲染具体的视图等；
    7、如果执行过程中遇到异常将交给HandlerExceptionResolver来解析。
   -->
  <servlet>
    <servlet-name>springMVC</servlet-name>
    <description>spring mvc servlet</description>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring/springmvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>springMVC</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <!--
          Session是由浏览器和服务器之间维护的。
          Session超时理解为：浏览器和服务器之间创建了一个Session，由于客户端长时间（休眠时间）没有与服务器交互，
              服务器将此Session销毁，客户端再一次与服务器交互时之前的Session就不存在了。
   -->
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>

  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>

</web-app>
